page-home {
    
        .custom-icon {
            font-size: 70px;
            align-content: center
          }
    
        .custom-grid-size {
            height: 120px;

          }
    
        .custom-button-size {
            height: 100px;
            align-content: center
        }
    
        button-inner{
            align-content: center
        }

}
